a {text-decoration: none; color: #00A2FF}
body {
	background-image: url(https://i.pinimg.com/originals/22/8e/30/228e303f741a61efc44deb7e793951df.png);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}