a {text-decoration: none; color: #00A2FF}
body {
	background-image: url(https://i.pinimg.com/originals/22/8e/30/228e303f741a61efc44deb7e793951df.png);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}
{
	margin: 0;
	font-family: Helvetica;
}
.topnav {
	overflow: hidden;
	background-color: pink;
}
.topnav a {
	float: left;
	text-align:center;
	padding: 14px 16px;
	font-size: 17px;
}
.topnav a:hover {
	background-color: gray;
}
.topnav a:active {
	background-color: white;
}